.root-container {
    width: 500px;
}

.root-container .panel-heading .row {
    display: flex;
    align-items: center;
}

.content-container {
    display: flex;
}

.content-container div {
    margin-left: 10px;
}

.product-image {
    width: 200px;
}
