<div class="panel panel-default root-container">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">
                <h2>{{product.name}}</h2>
            </div>
            <div class="col-md-4">
                <ng-content></ng-content>
            </div>
        </div>
    </div>

    <div *ngIf="collapsed == false" class="panel-body">
        <div class="content-container">
            <div>
                <img src="{{product.image}}" class="product-image"/>
            </div>
            <div>
                <p>{{product.description}}</p>
                <p>Price: {{product.price}}</p>
                <p> Categories:
                    <span *ngFor="let category of product.categories">
                        {{category.name}}
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
